<div class="main-sidebar"  >
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="https://kindcow.finance"><img src='stisla/assets/img/logo/logo-m.png' width='150px'></a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="https://kindcow.finance"><img src='stisla/assets/img/logo/kind-m.png' width='30px'></a>
      </div>
      <ul class="sidebar-menu">
          
          <li class="menu-header" >Begin</li>
         
          <li><a class="nav-link" href="/"><i class="bi bi-clipboard-data side-icon"></i> <span>Dashboard</span></a></li>
          <li><a class="nav-link" href="pools"><i class="bi bi-cloud-upload-fill side-icon"></i><span>Pools</span></a></li>
          <li><a class="nav-link" href="farms"><i class="bi bi-calendar-check-fill side-icon"></i> <span>Farms</span></a></li>
          <li><a class="nav-link" href="vote"><i class="bi bi-bar-chart-line-fill side-icon"></i> <span>Vote</span></a></li>

          
         
       
          <li class="menu-header">Help</li>
          <li><a class="nav-link" href="https://docs.kindcow.finance/"><i class="bi bi-box-arrow-in-up-right side-icon"></i> <span>Docs</span></a></li>
          <li><a class="nav-link" href="https://github.com/kindcowfinance"><i class="bi bi-github side-icon"></i> <span>Github</span></a></li>
          <li><a class="nav-link" href="https://t.me/kindcow_finance"><i class="bi bi-telegram side-icon"></i><span>Telegram</span></a></li>
          <li><a class="nav-link" href="https://twitter.com/kindcow_finance"><i class="bi bi-twitter side-icon"></i> <span>Twitter</span></a></li>
          <li><a class="nav-link" target='_blank' href="https://github.com/TechRate/Smart-Contract-Audits/blob/main/Neatherd.pdf"><i class="bi bi-calendar-check side-icon"></i> <span>Audit</span></a></li>

        
    </aside>


    <div class="text-center pt-3 " style=' position: absolute;bottom:0px;height:100px;right:0;left:0' >
     <h6><a target='_blank' href='https://bscscan.com/token/0xE8148De8c8c3441257Ce3A093746B37c569a6D3E'><img src='stisla/assets/img/logo/kind-m.png' width='30px' style='margin-right:10px'> $ <span class='price-kind' >0</span></a></h6>
    </div>
  </div>


  
  </head>
  <body>
 
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">This is V3 ( Audited Smart Contract ) of kindcow.finance</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
      <p>( V3  Audited Smart Contract ) is updated to optimize  version ( V2  ).</p>
     

      <p><b>How to make complete swap from V2</b></p>
      <ul>
        <li>Go to <a target='_blank' href='https://v2.kindcow.finance'> https://v2.kindcow.finance </a>  website</li>
        <li>Remove from any staking or farming</li>
        <li>Remove any Liquidity you have , dont sell Your KIND , just </li>
        <li>After your old KIND already at your wallet , klik buton <b>APPROVE SWAP</b> in this page</li>
        <li>After confirmed then klik <b>START SWAP</b></li>
        <li>Then Your old KIND will swap to new KIND </li>
        <li>You will get bonus 10% KIND from this process</li>
        <li>Add back NEW KIND  to liquidity , and continue Farm or Staking </li>
        <li>Welcome to v3 ( Audited Smart Contract ) kindcow.finance</li>
      </ul>
      <div class='col-12 text-center'>
      <button type="submit" class="btn btn-primary approve-swap">Approve swap</button>
      <button type="submit" class="btn btn-primary start-swap">Start swap</button>
      </div>  
       
              
          </div>
      </div>
  </div>
</div>
  </body>