<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
  
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>
 <div class="col-12 text-center" >
    <h1 ><i class="bi bi-bezier side-icon" style='font-size: 50px;'></i></h1>
 </div>

 <div class="col-12 text-center">
   Cooming Soon
</div>

</div>