<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
  
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>
 <div class="col-12 text-center">
     <img src="stisla/assets/img/king.png" width="100px"/><br>
     <h1>King Cow</h1>
 </div>

 <div class="col-12">
  
  <b>Hello Humans!</b><br>
  After we observed the character of the Kindcow users, we know that there are still many people who do not understand the true concept of Kindcow. Kindcow with the main token $KIND has this following characters:
  <br><br>
  $KIND is created to give rewards for farming and staking at <a href="https://app.kindcow.finance">app.kindcow.finance</a><br>
  The rewards comes from the mining of new token on each BSC block.<br>
  In each block mined 1.1 $ KIND, it can be simplified as follows<br>
  <br>
  1 Block BSC = 1.1 $KIND<br>
  1 Day = ~ 32K $KIND<br>
  1 Month = ~ 960K $KIND<br>
  <br>
  Yes, it is true!<br>
  Every month the total supply of $KIND increases, but Kindcow has the Vote and Burn concept, and it will reduce supply, so there is a slowdown inflation.<br>
  <br>
  With the continued increase in supply, some users don't dare to hold on to kind, because not all users understand the concepts of farming and staking.<br>
  <br>
  For this reason, Kindcow presents a token with a limited supply<br>
  Let me introduce <br>
  <br>
  Token name: <b>King Cow</b><br>
  Symbol: <b>COW</b><br>
  Supply: <b>10,000 COW</b><br>
  Contract: <b>0x5FF2716Cd0f704F04984dCcB584a9da5b23584Be</b>
  <br>
  COW supply is Fixed!.<br>
  It does not increase and reduce!<br>
  <br>
  How to get the <b>King Cow</b><br>
  COW is distributed by BURNING  <b>200 KIND </b>to get  <b>1 COW</b>.<br>
  This means that it requires to burn  <b>2,000,000 KIND</b> to distribute all <b>10,000 COW</b>.<br>
  Once 10,000 COW is distributed, there is no other way to get COW , and it only can be purchased at market.<br>
 <br><br>
  For those who want to convert KIND to COW, you can click the button below<br>
 </div>

 <div class=" text-center" style="max-width: 500px;margin:20px auto">
  Your Kind : <span class='your-wallet-lp-pid-0'>0</span> <br>
 <button class="btn btn-sm btn-success btn-block rounded-0 approve-swapk" onclick='WALLET.reqSwapk()'>APPROVE CONTRACT</button><br>
 <div class="input-group mb-3">

  <input id="convert-to-king-value" type="text" class="form-control text-center" placeholder="Amount Kind" aria-label="" aria-describedby="basic-addon1" style="width:150px">
  <div class="input-group-append">
  <button class="btn btn-outline-primary convert-to-king" onclick='WALLET.getKing()' type="button">Convert</button>
  </div>
  </div>
</div>

</div>