 
<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
  
 
  <div class="row justify-content-center">
    <div class="col-12  col-md-4 col-lg-4">
      <div class="pricing pricing-highlight">
        <div class="pricing-title">
          Vote Data
        </div>
        <div class="card">
          <div class="card-body">
          <div style=" min-height: 150px">
          <div class="row font-weight-bold pb-3" style='border-bottom:1px solid #eee;   '>
            <div class="col-4 text-center  "  >
            <img src="https://exchange.bitsten.com/assets/static/v30/images/logo/usdt.png" width="40px"> 
            </div>
            <div class="col-8 text-center   " style=" padding: 0px 10px">
             <h4> Staking BNB </h4> </div>
            </div>
          <h3 class="row" style="margin-top:20px">
          <div class="col-5 text-left " style="padding: 0px 10px">APR
          </div>
          <div class="col-7  text-right text-right text-success" style=" padding: 0px 10px" >
          99.42%
          </div>
        </h3>
          <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Deposit
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px"></div>
          </div>
          <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Reward
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px">
          BSF
          </div>
          </div>
            <div class="row" > 
            
            <div class="col-3 text-right text-center text-warning " style='font-size:30px' >
              <i class="bi bi-arrow-down-square-fill cursor"></i>
            </div>
            <div class="col-6 text-right text-center " >
              AllocPoint<br>
              <h4 class=''>10000</h4>
              </div>
              <div class="col-3 text-right text-center text-success  "   style='font-size:30px'>
                <i class="bi bi-arrow-up-square-fill cursor"></i>
                </div>
            </div>        
          </div>
        
          </div>
          </div>
        <div class="d-flex mt-2" > 
          <div class="col-6 text-center   text-warning "   >
            Reward
          </div>
          <div class="col-6 text-center   text-warning "   >
            Your LP
          </div>
        </div>
        <div class="d-flex mt-2" > 
          <div class="col-6 text-center"   >
            <h5>0</h5>
          </div>
          <div class="col-6 text-center"   >
            <h5>0</h5>
          </div>
        </div>
        <div  style='border-bottom:1px solid #ddd; display:none; margin:0px  ' class="row mt-2 pb-3"> 
          <div class="col-6 text-center    "   >
            <button class="btn btn-sm btn-success">HARVEST</button>
          </div>
          <div class="col-6 text-center    "   >
           
          <a href="#!" class="btn btn-icon btn-info btn-sm"><i class="fas fa-minus"></i></a>
          <a href="#!" class="btn btn-icon btn-info btn-sm"><i class="fas fa-plus"></i></a>
              
          </div>
         
        </div>
        <div  style='border-bottom:1px solid #ddd; margin:0px   'class="row mt-2 pb-3"> 
         
          <div  style='display:none' class="col-12 text-center    logedin "   >
            <button class="btn btn-sm btn-success btn-block rounded-0">APPROVE CONTRACT</button>
          </div>
          <div class="col-12 text-center    "   >
            <button class="btn btn-sm btn-primary connect-to-wallet btn-block rounded-0">CONNECT WALLET</button>
          </div>
        </div>
        <br>
        <a onClick="$('.detail').toggle();$('.hide').toggle()" class="mb-2 rounded-0 rounded-bottom" data-toggle="collapse" href="#collapseDetail" role="button" aria-expanded="false" aria-controls="collapseExample">
          <span class='detail' >Details</span><span class='hide' style='display:none' >Hide</span>
        </a>
        <br>
        <br>
      <div class="collapse card-content pb-3" id="collapseDetail">
        <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Get
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px">
            <strong><a target="_blank" href="https://pancakeswap.info/token/">Pancakeswap <i class="bi bi-arrow-up-right-square"></i></a></strong>
          </div>
          </div>
            <div class="row font-weight-bold">
              <div class="col-5 text-left  " style="padding: 0px 10px">Exploler
              </div>
              <div class="col-7 text-right text-success " style=" padding: 0px 10px">
                <strong><a target="_blank"  href="https://bscscan.com/address/">Bscscan <i class="bi bi-arrow-up-right-square"></i></a></strong>
              </div>
              </div>
      </div>

      </div>
    </div>

</div>