<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
  
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>
  
Coming soon !<br>
 

</div>