<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
  
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>
  

 <div class="col-12">
  
  <b class='text-danger'>Problem!</b><br>
  On June 30, 2021 Kindcow found an abnormal transaction on this txid<br>
  <a href='https://bscscan.com/tx/0xfc4f5d99c491d8abb90417b4daf11e9fd72d6784514539e3858656db2e609ce6'>https://bscscan.com/tx/0xfc4...</a><br>
  Huge amount of KIND out of staking smart contracts<br>
  A hacker has successfully interacted with the KIND smart contract address<br>
  <br><br>
  <b class='text-warning'>Loss and Damage</b><br>
  1. Hacker takes all $KIND that is in the pool contract ( >1M ) then sell at market.<br>
  2. Users who have KIND in the pool cannot withdraw from pool contracts because there is no kind available.<br>
  3. Farming smart contracts are not safe, and must be replaced with new ones.<br>
  4. KIND will swap to new token , to recovery users loss. <br>
<br><br>
  <b class="text-success">Solving this problem</b><br>
Kindcow is runing data on blockhain , so we can't repair the damage of broken data.<br>
This is step by step to solving this problem.<br><br>

  1. Kindcow will create new token.<br>
  2. User can Withraw from pool and receive new KIND.<br>
  3. Kindcow create new farming contract & platform.<br>
  4. Holder need to Swap all  KIND to new KIND.<br>
  5. Continue runing project with better platform.<br>

<br><br>
<b class='text-info'>Please wait new update for continue this step !</b>
 </div>
 
</div>

</div>