<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
  
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>
  

 <div class="col-12">
  
  <h4 class='text-success'>Kindcow Creating new token</h4> 
  To replace KIND at pool , we created a new token with this criteria<br>
  1. Create token with fix supply 5,000,000 KIND.<br>
  2. ~ 3,000,000 KIND use for swap old KIND.<br>
  3. ~ 2,000,000 KIND use for Reward farming.<br>
  4. Fee 1 % from transaction will add to pool reward.<br>
  5. No allocation for Developer!

  
<br><br>
<h4 class='text-success'>New token detail</h4> 
 Contract : <b><a href='https://bscscan.com/token/0x7805e593faaf00ae6870bc8e810c68d76f311b8e'>0x7805e593faaf00ae6870bc8e810c68d76f311b8e</a> </b><br>
 Name :  <b>Kindcow Gold</b> <br>
 Symbol :  <b>KIND</b><br>
 Supply :  <b>5,000,000 KIND</b><br>
 Fee transaction :  <b>1%</b><br>
<br><br>

<b class='text-info'>Please wait new update for continue this step !</b><br>
<a href='step?id=3'><button class='btn btn-success btn-sm rounded-0'>Go to STEP 3</button></a>

 </div>
 
</div>

</div>