<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
  
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>
  

 <div class="col-12">
  
  <h4 class='text-success'>Kindcow scan user balance at pool </h4> 
  User with KIND balance at pool + reward will auto receive KIND GOLD at their wallet.<br>
  Please wait until this proses finish !<br><br>

  All wallet with hold KIND at pool has been receive KIND GOLD<br>

  
<br><br>
 

<b class='text-info'>Please wait new update for continue this step !</b><br>
<a href='step?id=4'><button class='btn btn-success btn-sm rounded-0'>Go to STEP 4</button></a>

 </div>
 
</div>

</div>